{% extends "base.html" %}

{% block stylesheets %}
	{{block.super}}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/css/bootstrap-datepicker.min.css">

	<style>
		#top-header
		{
			margin-bottom: 20px;
		}
		label[for='id_station_name']
		{
			display: block;
		}
		.form-control
		{
			width: 15%!important;
			margin: 0 auto;
		}
		
		.tt-dataset, .tt-dataset-station
		{
			background-color: #fff,
			margin-left:10px;
		}
		.station-error
		{
			color: red;
			font-size: 11px;
		}
	</style>
{% endblock stylesheets %}

{% block body %}
	<section id="top-header">
		<div class="container">
			<h3>Hello {{username}} you can plot graphs here</h3>
		</div>	
	</section>

	<section id ="add-stations">
		<div class="continer">
			<div class="row">
				<div class="col-sm-offset-8 col-sm-4">
					<p>Want to add more Stations? <a class="button2 btn btn-default"  href="{% url 'add_station_view' %}">Add</a> </p>
				</div>	
			</div>
		</div>
	</section>

	<section id="form-section">
		<div class="container">
			<form id="filter-form" method="post" action="{% url 'get_points_view' %}">
				{% csrf_token %}
				<span class="station-error"></span>
				<p>
					{{form.station_name.label_tag}}<br>
					<select class="form-control" id="id_station_name" name="station_name">
					{% if all_user_station_name|length == 0 %}
						<option value="">Please Add stations</option>
					{% else %}
						{% for station_name in all_user_station_name %}
							<option value="{{station_name}}">{{station_name}}</option>
						{% endfor %}
					{% endif %}	
					</select>
				</p>
				<p>
					{{form.parameter.label_tag}}<br>
					{{form.parameter}}<br>	
				</p>
				<p>
					{{form.date_start.label_tag}}<br>
					{{form.date_start}}
				</p>
				<p>
					{{form.date_stop.label_tag}}<br>
					{{form.date_stop}}<br>
				</p>

				<input class="button2 btn btn-default" type="submit" value="submit">
			</form>
		</div>	
	</section>	

	<section id="chart-section">
		<div id="chart-div" style="min-width: 310px; height: 400px; margin: 0 auto"></div>	
	</section>

{% endblock body %}

{% block scripts %}
	{{block.super}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/js/bootstrap-datepicker.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datepair.js/0.4.14/jquery.datepair.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script>
		
		/*..................DatePicker..................................*/
		$('.date').datepicker({
			'format':'yyyy-mm-dd',
			'autoclose':true
		});
		/*..............................Ajax Cookie And Csrf Stuff.............................................*/ 	

		function getCookie(name) {
	    	var cookieValue = null;
	    	if (document.cookie && document.cookie != '') {
	        	var cookies = document.cookie.split(';');
	        	for (var i = 0; i < cookies.length; i++) {
	            	var cookie = jQuery.trim(cookies[i]);
	            	// Does this cookie string begin with the name we want?
	            	if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                	cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                	break;
	            	}
	        	}
	    	}
	    	return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');
		function csrfSafeMethod(method) {
	   		// these HTTP methods do not require CSRF protection
	    	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
	    	beforeSend: function(xhr, settings) {
	        	if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
	            	xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        	}
	    	}
		});
		/*..................Plot Function.............................*/
		function plotChart(parameterList,dateList,titleText,yAxisTitle,vSuffix){
			$('#chart-div').highcharts({
		        title: {
		            text: titleText,
		            x: -20 //center
		        },
		        
		        xAxis: {
		            categories: dateList
		        },
		        yAxis: {
		            title: {
		                text: yAxisTitle
		            },
		            plotLines: [{
		                value: 0,
		                width: 1,
		                color: '#808080'
		            }]
		        },
		        tooltip: {
		            valueSuffix:vSuffix 
		        },
		        legend: {
		            layout: 'vertical',
		            align: 'right',
		            verticalAlign: 'middle',
		            borderWidth: 0
		        },
		        series: [{
		            name: 'sunny',
		            data: parameterList
		        }]
		    });
		}
		/*.................Filter Form.................................*/
		$('#filter-form').on('submit',function(e){
			e.preventDefault();
			var formData = $(this).serialize();
			$.ajax({
				url:$(this).attr('action'),
				type:'POST',
				csrfmiddlewaretoken: csrftoken,
				dataType:'json',
				data:formData,
				success:function(response){
					if (response.error === false){
						//console.log(response.temperature_list);
						//console.log(response.humidity_list);
						if (response.parameter === 'temperature'){
							var list = [];
							$.each(response.temperature_list,function(index,elem){
								list.push(parseInt(elem));
							});
							plotChart(list,response.date_list,'Temperature','Temperature (°C)','°C');
							
						}
						else{
							var list = [];
							$.each(response.humidity_list,function(index,elem){
								list.push(parseInt(elem));
							});
							plotChart(list,response.date_list,'Humidity','Humidity (%)','%');
						}    
					}
					else{
						$('#chart-div').html('<h3 style="color:red;">Please try again.</h3>');
						
					}
				},
				error:function(response){
					if(response.form_invalid===true){
						alert('form invalid');
					}
					alert('check your internet');
				}
			})
		});

		/*.............Chart stuff...................................*/
	
		
	</script>
{% endblock scripts %}