{% extends "base.html" %}

{% block stylesheets %}
	{{block.super}}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/css/bootstrap-datepicker.min.css">
	<style>
		.form-control
		{
			width: 15%!important;
			margin: 0 auto;
		}
		#id_station_name
		{
			width: 100%!important;
		}
	</style>
{% endblock stylesheets %}


{% block body %}
	<section id="form-section">
		<form id="filter-form" method="post" action="{% url 'get_points_view' %}">
			{% csrf_token %}
			{{form.as_p}}
			<input id="submit" type="submit" value="submit">
		</form>
	</section>	

	<section id="chart-section">
			
	</section>

{% endblock body %}

{% block scripts %}
	{{block.super}}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datepair.js/0.4.14/jquery.datepair.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.min.js"></script>
	<script>
		/*.....................Station Typeahead.............*/
		var substringMatcher = function(strs) {
	  		return function findMatches(q, cb) {
	    		var matches, substringRegex;
	    		matches = [];
	    		substrRegex = new RegExp(q, 'i');
	    		$.each(strs, function(i, str) {
	      			if (substrRegex.test(str)) {
	        			matches.push(str);
	      			}
	    		});

	    		cb(matches);
			};
		};
		
		var states = ['Delhi','Haryana','Maharashtra','Gujrat'
		];

		$('#id_station_name.typeahead').typeahead({
		  hint: true,
		  highlight: true,
		  minLength: 1
		},
		{
		  name: 'states',
		  source: substringMatcher(states)
		});
		/*..................DatePicker..................................*/
		$('.date').datepicker({
			'format':'yyyy-mm-dd',
			'autoclose':true
		});
		/*..............................Ajax Cookie And Csrf Stuff.............................................*/ 	

		function getCookie(name) {
	    	var cookieValue = null;
	    	if (document.cookie && document.cookie != '') {
	        	var cookies = document.cookie.split(';');
	        	for (var i = 0; i < cookies.length; i++) {
	            	var cookie = jQuery.trim(cookies[i]);
	            	// Does this cookie string begin with the name we want?
	            	if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                	cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                	break;
	            	}
	        	}
	    	}
	    	return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');
		function csrfSafeMethod(method) {
	   		// these HTTP methods do not require CSRF protection
	    	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
	    	beforeSend: function(xhr, settings) {
	        	if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
	            	xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        	}
	    	}
		});

		/*.................Filter Form.................................*/
		$('#filter-form').on('submit',function(e){
			e.preventDefault();
			var formData = $(this).serialize();
			$.ajax({
				url:$(this).attr('action'),
				type:'POST',
				csrfmiddlewaretoken: csrftoken,
				dataType:'json',
				data:formData,
				success:function(response){
					if (response.error === false){
						console.log(response.temperature_list);
						//console.log(response.humidity_list);
						console.log(response.date_list);
						var xxx=response.temperature_list;
						var list = [];
						//var dictionary = {};
						$.each(xxx,function(index,value){
							var dictionary = {};
							dictionary['x'] = response.data_list;
							dictionary['y'] = response.temperature_list;
							list.push(dictionary);
						});		
						console.log(list);
						var options = {
							title:{

								text:"Temperature"
						},

						data:[{
							type:'spline',
							dataPoints:list
						}]	
					};
						$("#chart-section").CanvasJSChart(options);
					}
					else{
						$('#chart-section').html('<h3 style="color:red;">Please try again.</h3>');
					}
				},
				error:function(){
					alert('check your internet');
				}
			})
		});

		/*.............Chart stuff...................................*/
	
		
	</script>
{% endblock scripts %}