{% extends "base.html" %}


{% block stylesheets %}
	{{block.super}}
	<style>
	.form-control
	{
		width: 35%!important;
		margin: 0 auto;
	}
	.helptext
	{
		display: none;
	}
	.errorlist li
	{
		color: red;
		font-size: 10px;
	}

	</style>
{% endblock stylesheets %}

{% block body %}

<div class='col-sm-6 col-sm-offset-3' style='margin-top: 50px;'>
<h1>{{ form_title }}</h1>
<form method='POST' action=''>{% csrf_token %}
{{ form.as_p }}


<input type='submit' value='{% if submit_btn %}{{ submit_btn }}{% else %}Submit{% endif %}' class='button2 btn btn-default' />
</form>
</div>

{% endblock body %}